<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>






 <connectionStrings>
  <add name="UI.Properties.Settings.SqlServer" connectionString="Data Source=localhost;Initial Catalog=Floristeria;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
  <add name="Proyecto_Progra_III.Properties.Settings.FloristeriaConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=Floristeria;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>








</configuration>